header {
    background-color: #218380;
    height: 150px;
}
h1 {
    color: #ffffff;
}
header li {
    display: inline-block;
}
nav li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 20px;
  }
  
nav li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  
nav li a:hover {
    color: teal;
    text-decoration: underline;
    font-size: 22px;
  }
  #rateMyPage{
    shrink-width: 5px;
  }
body {
    background-color: #040F0F;
}

#about-me {
    color: #D9CAB3;
}
main {
    width: 90%;
    margin: 30px auto;
    min-height: 700px;
}
#main-image {
width: 600px;
}
main p {
    text-align: center;
}
section {
    display: inline-block; 
    background-color: #DF2935;
}
.lower-section {
    display: inline-block;
    width: 30%;
}
h3 {
    color:#ffffff;
    margin: 10px;
    padding: 10px;
}
